[Unit]
Description=Jetson clocking and cooling
After=display-manager.service

[Service]
ExecStart=/home/nvidia/jetson_clocks.sh

[Install]
WantedBy=default.target
